<header id="top" role="masthead">
  <div class="header">
    <div class="container-fluid">
      <div class="flex-row">
        <a href="" class="header-logo gtm-event" title="Infinitas Learning"
          data-gtm-event="Header logo">
          <img
            src="{{$.Site.BaseURL}}img/theme/logo-infinitas-learning.svg"
            alt="Logo Infinitas Learning" data-pagespeed-url-hash="3127659686"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
        <span class="flex-spacer"></span>
        <nav class="header-nav">
        </nav>
      </div>
    </div>
  </div>
  <div class="sticky-nav-bar-wrapper" style="height: auto;">
    <div class="sticky-nav-bar affix-top">
      <div class="nav-bar">
        <div class="container-fluid">
          <div class="flex-row">
            <a href="" class="nav-bar-logo gtm-event" title="Infinitas Learning - Home"
              data-gtm-event="Header logo"><img
                src="{{$.Site.BaseURL}}img/theme/logo-infinitas-learning.svg"
                alt="Logo Infinitas Learning" data-pagespeed-url-hash="3127659686"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
            <nav class="nav-bar-nav">
              <a href="#" id="toggle-menu" class="menu-toggle gtm-event" title="Menu" rel="nofollow"
                data-gtm-event="Header toggle mobile menu"><i class="fa fa-left fa-bars"></i>Menu</a>
              <ul id="menu-main-menu" class="menu nav">
                <li id="menu-item-6"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-6">
                  <a href="/"><i class="fa fa-home"></i></a></li>
                <li id="menu-item-30"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-30">
                  <a href="/how-we-work">How we work</a>
                  <ul class="sub-menu">
                    {{ range sort (where .Site.RegularPages "Section" "how-we-work") "Params.order" }}
                      <li id="menu-item-550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-550"><a href="{{.Permalink}}">{{.Title}}</a></li>
                      {{ end }}
                    </ul>
                </li>
                <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a
                    href="/blog/">Blog</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>