{{ define "main" }}

<section class="page-section">
  <div class="container">
    <div class="section-title narrow">
      <h2 class="title">Welcome to Infinitas Engineering</h2>
      <p class="description">Enim non sit nostrud occaecat fugiat ea do. Cillum nostrud cupidatat velit mollit laboris ipsum Lorem enim laborum. Fugiat dolor adipisicing deserunt Lorem elit reprehenderit laborum consectetur aliqua fugiat laborum laborum velit.

Adipisicing enim voluptate elit veniam ut est ipsum quis laborum incididunt veniam pariatur ad laboris. Ex ad fugiat irure amet anim irure esse adipisicing enim enim reprehenderit ullamco. Anim proident quis quis consectetur pariatur non est sunt excepteur. Lorem ex amet labore veniam eiusmod minim sunt anim. Sint ad elit laboris labore incididunt et consequat. Ex ipsum exercitation incididunt anim in exercitation tempor enim id consequat. Irure et ipsum commodo est voluptate anim.</p>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="section-title narrow">
      <h2 class="title">Latest posts</h2>
      <p class="subtitle">Get to know everything about our engineering department</p>
    </div>
    <div class="post-wrapper">

      {{ $mainSections := .Site.Params.mainSections | default (slice "blog") }}
      {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
      {{ $section_count := len $section }}

      {{ if ge $section_count 1 }}
      {{ $section_name := index (.Site.Params.mainSections) 0 }}
      {{ $n_posts := $.Param "recent_posts_number" | default 3 }}
      <section>
        <div class="flex-row">
          {{ range (first $n_posts $section) }}
            {{ partial "summary-with-image.html" . }}
          {{ end }}
        </div>
      </section>

      {{ end }}

    </div>
  </div>
</section>

{{ end }}